.outerContainer {
  width: 100%;
}

.mainContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  margin-left: 10px;
}

@media screen and (min-width: 500px) {
  .mainContainer {
    margin-right: 20px;
    margin-left: 20px;
  }
}

@media screen and (min-width: 800px) {
  .mainContainer {
    margin-right: 80px;
    margin-left: 80px;
  }
}

.headingMain {
  margin-top: 80px;
  font-size: 26px;
  margin-bottom: 30px;
}

@media screen and (min-width: 500px) {
  .headingMain {
    font-size: 30px;
    margin-top: 80px;
    margin-bottom: 40px;
  }
}

@media screen and (min-width: 800px) {
  .headingMain {
    font-size: 36px;
    margin-top: 100px;
    margin-bottom: 80px;
  }
}

.projectContainer {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.cardList {
  width: 45%;
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.cardList:hover {
  border: 1px solid rgba(255, 255, 255, 1);
  background-color: rgba(14, 10, 10, 0.909);
}

@media screen and (min-width: 800px) {
  .cardList {
    width: 30%;
  }
}

.projectImg {
  width: 100%;
  height: auto;
  max-width: 100%;
}

.projectName {
  margin-left: 10px;
  margin-top: 5px;
  background-color: inherit;
}

.projectDetail {
  margin-left: 10px;
  font-size: 12px;
  margin-top: 10px;
}

.projectBtn {
  margin-left: 10px;
  margin-top: 10px;
  margin-bottom: 5px;
  background-color: blue;
  padding: 2px;
  font-size: 10px;
  border-radius: 3px;
  cursor: pointer;
  font-weight: 500;
}

@media screen and (min-width: 500px) {
  .projectName {
    margin-top: 3px;
    font-size: 18px;
  }
  .projectBtn {
    margin-top: 15px;
    font-size: 14px;
    border-radius: 5px;
    padding: 4px;
  }
  .cardList {
    width: 35%;
  }
  .projectDetail {
    margin-top: 5px;
    font-size: 14px;
    background-color: inherit;
  }
}
@media screen and (min-width: 1000px) {
  .projectName {
    margin-top: 5px;
    font-size: 22px;
  }
  .projectDetail {
    margin-top: 5px;
    font-size: 16px;
  }
  .projectBtn {
    margin-top: 20px;
    font-size: 14px;
    font-weight: 700;
    padding: 6px;
    border-radius: 7px;
  }
}
