.outerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: rgb(20, 20, 35);
  padding: 80px 0 40px 0;
}

@media screen and (min-width: 767px) {
  .outerContainer {
    height: 100vh;
    min-height: 100vh;
  }
}

.mainContainer {
  width: 95%;
  background-color: rgb(26, 26, 46);
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.mainContainer {
  transition: border 0.4s ease;
}

.mainContainer:hover {
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

@media screen and (min-width: 800px) {
  .mainContainer {
    width: 90%;
  }
}

.headingMain {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  font-size: 26px;
  margin-bottom: 30px;
  font-weight: 400;
}

.headingIcon {
  font-size: 26px;
  margin-right: 20px;
  animation-name: updown;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease;
  transition: all 0.3s;
}

@keyframes updown {
  0% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0px);
  }
}

@media screen and (min-width: 500px) {
  .headingMain {
    font-size: 30px;
    margin-top: 40px;
    margin-bottom: 40px;
  }

  .headingIcon {
    font-size: 30px;
  }
}

@media screen and (min-width: 800px) {
  .headingMain {
    font-size: 36px;
    margin-top: 60px;
    margin-bottom: 60px;
  }

  .headingIcon {
    font-size: 36px;
  }
}

.projectContainer {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  width: 100%;
  margin-bottom: 60px;
}

.cardList {
  background-color: rgb(20, 20, 35);
  border-radius: 15px;
}

.cardList {
  transition: all 0.5s ease;
}

.cardList:hover {
  transform: scale(1.04);
}

.cardContent {
  width: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 15px 20px;
  gap: 10px;
}

@media screen and (min-width: 1000px) {
  .cardContent {
    width: 300px;
    margin: 25px 20px;
    gap: 20px;
  }
}

.projectImg {
  width: 100%;
}

.projectName {
  font-size: 22px;
  margin: 5px auto;
}

.aboutProject {
  font-size: 14px;
  line-height: 22px;
  margin-bottom: 10px;
}

.techNames {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: 16px;
  width: 100%;
}

.skillTxt1 {
  color: blue;
}

.skillTxt2 {
  color: green;
}

.skillTxt3 {
  color: crimson;
}

.viewBtn {
  background-color: orangered;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 14px;
  font-weight: 500;
  transition: all 0.4s ease;
}

.viewBtn2 {
  background-color: orangered;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 14px;
  font-weight: 500;
  transition: all 0.4s ease;
}

@media screen and (min-width: 767px) {
  .viewBtn2 {
    margin-top: 60px;
  }
}

@media screen and (min-width: 1000px) {
  .viewBtn2 {
    margin-top: 44px;
  }
}

.viewBtn:hover {
  background-color: white;
  color: orangered;
  cursor: pointer;
}

.viewBtn2:hover {
  background-color: white;
  color: orangered;
  cursor: pointer;
}

/* Mobile screen responsiveness */
@media screen and (max-width: 767px) {
  .mainContainer {
    width: 100%;
    height: 90%;
  }

  .projectContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-bottom: 60px;
  }

  .viewBtn {
    margin-top: 15px;
  }

  .viewBtn2 {
    margin-top: 15px;
  }
}
