.outerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  min-height: 100vh;
  background-color: rgb(20, 20, 35);
}

.mainContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 95%;
  height: 90%;
  background-color: rgb(26, 26, 46);
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.mainContainer {
  transition: border 0.4s ease;
}

.mainContainer:hover {
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

@media screen and (min-width: 800px) {
  .mainContainer {
    width: 90%;
  }
}

.headingMain {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 26px;
  /* margin-bottom: 30px; */
}

@media screen and (min-width: 500px) {
  .headingMain {
    font-size: 30px;
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

@media screen and (min-width: 800px) {
  .headingMain {
    font-size: 36px;
    padding-top: 80px;
    padding-bottom: 80px;
  }
}

.aboutContainer {
  display: flex;
  width: 100%;
  align-items: center;
}

.leftContent {
  width: 50%;
  display: flex;
  justify-content: center;
  align-content: center;
}

.rightContent {
  display: flex;
  width: 50%;
  justify-content: flex-start;
}

.aboutImg {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

@media screen and (min-width: 500px) {
  .aboutImg {
    width: 200px;
    height: 200px;
  }
}

@media screen and (min-width: 800px) {
  .aboutImg {
    width: 250px;
    height: 250px;
  }
}

.aboutText {
  line-height: 20px;
  font-size: 14px;
}

@media screen and (min-width: 500px) {
  .aboutText {
    font-size: 20px;
    line-height: 30px;
  }
}

@media screen and (min-width: 1000px) {
  .aboutText {
    font-size: 22px;
    line-height: 40px;
  }
}
