.outerContainer {
  position: fixed;
  display: flex;
  justify-content: center;
  /* align-items: center; */
  width: 100%;
  background-color: rgb(20, 20, 35);
  height: 65px;
  z-index: 999;
}

.mainContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 80px;
  margin-left: 80px;
  width: 95%;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

@media screen and (min-width: 800px) {
  .mainContainer {
    margin-right: 80px;
    margin-left: 80px;
  }
}

.logoContainer {
  color: white;
  font-size: 16px;
  cursor: pointer;
  font-weight: 700;
}

.logoAnime {
  color: white;
  font-size: 16px;
  cursor: pointer;
  font-weight: 700;
}

@media screen and (min-width: 500px) {
  .logoAnime {
    font-size: 18px;
    font-weight: 700;
  }
}

.logoAnime span {
  display: table-cell;
  margin: 0;
  padding: 0;
  animation: animate 2s linear infinite;
}

.logoAnime span:nth-child(1) {
  animation-delay: 0s;
}

.logoAnime span:nth-child(2) {
  animation-delay: 0.25s;
}

.logoAnime span:nth-child(3) {
  animation-delay: 0.5s;
}

.logoAnime span:nth-child(4) {
  animation-delay: 0.75s;
}

.logoAnime span:nth-child(5) {
  animation-delay: 1s;
}

.logoAnime span:nth-child(6) {
  animation-delay: 1.25s;
}

.logoAnime span:nth-child(7) {
  animation-delay: 1.5s;
}

@keyframes animate {
  0%,
  100% {
    color: red;
    filter: blur(2px);
    box-shadow: 0 0 10px #00b3ff, 0 0 20px #00b3ff, 0 0 40px #00b3ff,
      0 0 80px #00b3ff, 0 0 120px #00b3ff, 0 0 200px #00b3ff, 0 0 300px #00b3ff,
      0 0 400px #00b3ff;
  }
  5%,
  95% {
    color: white;
    filter: blur(0px);
    box-shadow: none;
  }
}

@media screen and (min-width: 500px) {
  .logoContainer {
    font-size: 18px;
    font-weight: 700;
  }
}

.logoContainer:hover {
  color: lightblue;
}

.name {
  font-size: 18px;
  font-weight: 700;
  color: #cdc8c8;
}

.name:hover {
  color: white;
  transition: 1s;
  text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 40px #fff, 0 0 80px #fff,
    0 0 120px #fff, 0 0 120px #fff;
}

.navContainer {
  display: flex;
  align-items: center;
}

.menuIcon {
  display: none;
  margin-right: 20px;
  font-size: 32px;
  cursor: pointer;
}

.menuContent {
  display: none;
  position: fixed;
  top: 65px;
  right: 10px;
  width: 50%;
  z-index: 999;
  border: 1px solid rgba(255, 255, 255, 0.5);
}

.moreOptionContainer {
  display: none;
}

.menuList {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  width: 100%;
  cursor: pointer;
  font-size: 18px;
  padding: 15px 0;
  /* background-color: rgb(20, 20, 35); */
  background-color: rgb(3, 3, 17);
  color: white;
  font-weight: 500;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.menuList {
  transition: all 0.4s ease;
}

.menuList:hover {
  color: orangered;
}

.activeMenuList {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  width: 100%;
  cursor: pointer;
  font-size: 18px;
  padding: 15px 0;
  color: orangered;
  font-weight: 700;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  background-color: rgb(3, 3, 17);
}

.navListItem {
  list-style: none;
  margin-left: 10px;
  color: lightblue;
  font-size: 16px;
  cursor: pointer;
  font-weight: 500;
}

@media screen and (min-width: 500px) {
  .navListItem {
    font-size: 18px;
    margin-left: 20px;
  }
}

.navListItem:hover {
  color: white;
}

.currentNav {
  color: white;
  padding-bottom: 5px;
  border-bottom: 3px solid white;
}

.sectionLink {
  text-decoration: none;
}

/* Mobile screens */

@media screen and (max-width: 767px) {
  .moreOptionContainer {
    display: block;
  }

  .menuIcon {
    display: block;
    margin-right: 20px;
    font-size: 32px;
    cursor: pointer;
  }

  .menuContent {
    display: block;
  }

  .navContainer {
    display: none;
  }

  .mainContainer {
    margin-right: 10px;
    margin-left: 10px;
  }
}
