.outerContainer {
  width: 100%;
  background-color: rgb(5, 8, 22);
  margin-top: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid rgba(170, 166, 195, 0.3);
}

.mainContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 10px;
  margin-left: 10px;
}

@media screen and (min-width: 500px) {
  .mainContainer {
    margin-right: 20px;
    margin-left: 20px;
  }
}

@media screen and (min-width: 800px) {
  .mainContainer {
    margin-right: 80px;
    margin-left: 80px;
  }
}

.logoContainer {
  color: white;
  font-size: 16px;
  cursor: pointer;
  font-weight: 700;
}

@media screen and (min-width: 500px) {
  .logoContainer {
    font-size: 18px;
    font-weight: 700;
  }
}

.logoContainer:hover {
  color: lightblue;
}

.navContainer {
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
}

.navListItem {
  list-style: none;
  margin-left: 10px;
  color: lightblue;
  font-size: 16px;
  cursor: pointer;
  font-weight: 500;
}

@media screen and (min-width: 500px) {
  .navListItem {
    font-size: 18px;
    margin-left: 20px;
  }
}

.navListItem:hover {
  color: white;
}

.currentNav {
  color: white;
  padding-bottom: 5px;
  border-bottom: 3px solid white;
}
