.mainContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(20, 20, 35);
  padding-top: 20px;
}

.innerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 20px;
}
